body{
    margin: -10px;
    background-color: rgb(234, 235, 239);
}


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(65, 103, 178);
}
#facebook{
    margin-left: 90px;
    color: white;
}
button{
    border-radius: 3px;
    border: none;
    background-color: green;
    color: white;
}





main{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 350px;
    margin-top: 70px;
    margin-left: 400px;
    padding: 30px;
    background-color: white;
    text-align: center;
    color: gray;
}
h2{
    margin-top: -20px;
    color: rgb(34,34,34);
    font-weight: 100;
}
#new-conta{
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    background-color: green;
    color: white;
}



form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -15px;
}
input{
    margin-top: 15px;
    height: 30px;
    width: 300px;
    border:solid gray 1px;
    border-radius: 3px;
    padding-left: 10px;
}
input:hover{
    margin-top: 15px;
    height: 33px;
    width: 300px;
    border:solid gray 1px;
    background-color: rgb(233, 240, 250);
    border: transparent;
}
#entrar{
    margin-top: 15px;
    margin-left: 119px;
    height: 50px;
    width: 313px;
}
a{
    text-decoration: none;
    margin-top: 20px;
    color: rgb(65, 103, 178);
}
#bt3{
    margin: 0 auto;
    height: 30px;
    width: 200px;
}